
/* desktop */
:root {
    --footer-font-family: normal 12px "Ubuntu";
    --footer-font-color: white;
}

.site-footer{
    margin-left: 208px ;
    margin-right: 208px;
 

}

.footer-subtitle{
    font: 500 15px "Ubuntu", sans-serif;
}

.member-profile{
    display: flex;

    width: auto;
    margin: auto;
  
    background-color: green;

}
.member-profile img{
    width: 118px;
    height: 118px;
    border-radius: 100%;
    background-color: cadetblue;
    margin: 32px;
    

}
.member-profile figcaption{
    width: 546px;
    height: auto;
    font: var(--footer-font-family);
    text-align: ; /* Align the text to the left */
    display: flex; /* Enable flexbox */
    align-items: center; /* Vertically center the text */
    justify-content: flex-start;
}


.footer-column-container {
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    margin: 0;
  }
.footer-column-container section{
    margin: 2rem
}


.left-column {
    
    width: 232px;
    height: auto;

}
.footer-description {
    font: var(--footer-font-family);
}

.mid-left-column {
    width: 232px;
    height: auto;    
}

    
.column-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 232px;
    height: 224px;

  }
  
  .column-images div {

    width: 64px;
    height: 64px;
    border-radius: 2px;
    margin: 8px;
    background-color: black;
  }

.mid-right-column {
    width: 320px;
    height: auto;

}
.mid-right-column p {
    font: 700 9px "Open Sans", sans-serif;
    text-align: justify;
}


.right-column {
    width: 144px;
    height: auto;
}


  

.right-column-button {
    width: 32px;
    height: 32px;

    
}

.email-input {
    width: 144px;
    height: 32px
}  
