:root {
    --primary-bg-color: #ffffff;
    --font-family: 'Ubuntu', sans-serif;
    --max-width: 1200px; /* default for desktop */
    --nav-font-size: 16px;
    --color-1: #25C389; 
    --color-2: #FFB901; 
    --color-3: #DE6262; 
    --color-4: #19B2DE; 
    --color-5: #265787; 
}

.site-body {
    font-family: var(--font-family);
    margin: 0 auto;
}

.header-container {
    max-width: var(--max-width);
    margin: 0 auto;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0 0 0;
    background-color: var(--primary-bg-color);
    width: 100%;
}

.site-title {
    font-size: 32px;
    font-weight: 500;
    color: #4D4D4D;
    margin-bottom: 0;
}

.metrolics-logo {
    width: 16px;  
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}

.logo-color-1 { fill: var(--color-1); } 
.logo-color-2 { fill: var(--color-2); } 
.logo-color-3 { fill: var(--color-3); } 
.logo-color-4 { fill: var(--color-4); } 
.logo-color-5 { fill: var(--color-5); } 

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

.main-nav li {
    height: 80px; 
    display: flex;
    align-items: flex-end;
}

.main-nav a {
    display: block;
    width: 134px;
    height: 96px;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.main-nav li:nth-child(1) a { background-color: var(--color-1); }
.main-nav li:nth-child(2) a { background-color: var(--color-2); }
.main-nav li:nth-child(3) a { background-color: var(--color-3); }
.main-nav li:nth-child(4) a { background-color: var(--color-4); }
.main-nav li:nth-child(5) a { background-color: var(--color-5); }

.arrow {
    font-weight: 300; 
    opacity: 0.7; 
    padding: 0 10px;
}

.hero-container {
    background-color: #EBEBEB;
}

.hero {
    background-image: url('../images/banner.png'); 
    background-size: cover;
    height: 530px;
    max-width: var(--max-width);
    margin: 0 auto;
    padding-top: 50px;
}

.hero-buttons-container {
    margin-top: 200px;
    margin-left: 30px;
}

.hero-buttons {
    height: 64px;
    width: auto;
    padding: 20px; 
    background: rgba(255, 255, 255, 0.5); 
    color: #000000;  
    border: none;
    font-size: 24px;
    text-align: left;
    display: block; 
    margin-bottom: 5px;
}

.hero-buttons:hover {
    background-color: rgba(255, 255, 255, 1);
}
