/* web soultions */
.section-title, .sub-section-title {
    text-align: center;
    line-height: 5px;
    
}
.service-title {
    font-size: 16px;
    text-align: center;
}
.service-description {
    font-size: 12px;
    text-align: justify;
}

.services-list {
    display: flex;
    margin-left: 208px;
    margin-right: 208px;
    margin-top: 20px;
    margin-bottom: 50px;
    gap: 32px; 
    list-style: none;   
   top: 95px;
  }
  
  .service-item {
    width: 23%; 
    text-align: center; 
  }

  .section-title {
    font-size: 32px;
  }

  .sub-section-title {
    font-size: 13px;
  }

  /* latest work */
  .latest-work-gallery {
    display: flex;
    margin-left: 208px;
    margin-right: 208px;
    gap: 32px;
    position: relative;


}

.work-date {
    background-color: #d8605f;
    text-align: center;
    max-width: 56px;
    max-height: 34.28px;
    line-height: 18.38px;
    color: #f0f0f0;
    position: absolute;
    top: 0%;
}
.work-details {
    background-color: #19b2de;
    position: absolute;
    bottom: 0%;
    width: fit-content;
    height: 48px;
    color: #f0f0f0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

  
/* tablet screen */
@media screen and (max-width: 632px) {
    /* websolutions */
    .services-list {
        display: grid;
        grid-template-columns: 2fr 2fr;
        list-style: none; 
        margin-left: 16px;
        margin-right: 16px;
        padding:0px;
        border: 0px;
        gap: 16px;
      }
      
      .service-item {
        background-color: #f0f0f0;
        margin: 0 auto; 
        width: fit-content;


      }
      .service-title, .service-description {
        text-align: center;
      }

      .service-description {
        text-align: justify;
      }
    /* latest news */
    .latest-work-gallery {
        width: 100%;
        margin-left: 16px;
        margin-right: 16px;
    }
    .latest-work-main {
        width: 60;
        float: left;
        margin: 1% 1%;
        padding: 0px;
    }
}

/* mobile */
@media screen and (max-width: 432px) {
    .services-list {
        display: flex;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        list-style: none;
        padding:0px;
        border: 0px;
    

    }
    .service-item {
        width: fit-content;
        margin-left: 16px;
        margin-right: 16px;
    }
    .service-item svg {
        float: left;
    }
    .service-description {
        float: right;
    }
    /* latest-works */
    .latest-work-gallery {
        display: flex;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        list-style: none;
        padding:0px;
        border: 0px;
    }
    .work-date {
        background-color: #d8605f;
        text-align: center;
        max-width: 56px;
        max-height: 34.28px;
        line-height: 18.38px;
        color: #f0f0f0;
        position: absolute;
        top: 0%;
    }
}