.section-title, .sub-section-title {
    text-align: center;
    line-height: 5px;
    
}
.service-title {
    font-size: 16px;
    text-align: center;
}
.service-description {
    font-size: 12px;
    text-align: justify;
}

.services-list {
    display: flex;
    margin-left: 208px;
    margin-right: 208px;
    margin-top: 20px;
    margin-bottom: 50px;
    gap: 32px; 
    list-style: none;
    top: 95px;
  }
  
  .service-item {
    width: 23%; 
    text-align: center; 
  }

  .section-title {
    font-size: 32px;
  }

  .sub-section-title {
    font-size: 13px;
  }
  
@media screen and (max-width: 632px) {
    .services-list {
        display: grid;
        grid-template-columns: 2fr 2fr;
        list-style: none; 
        margin-left: 16px;
        margin-right: 16px;
        padding:0px;
        border: 0px;
        gap: 16px;
      }
      
      .service-item {
        background-color: #f0f0f0;
        margin: 0 auto; 
        width: fit-content;


      }
      .service-title, .service-description {
        text-align: center;
      }

      .service-description {
        text-align: justify;
      }
      
}

@media screen and (max-width: 432px) {
    .services-list {
        display: flex;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        list-style: none;
        padding:0px;
        border: 0px;

    }
    .service-item {
        width: fit-content;
        float: left;
        margin-left: 16px;
        margin-right: 16px;
    }
    .service-item img {
        float: left;
    }
    .service-description {
        float: right;
    }
}