    :root {
        --middle-font-weight: 400;
    }
    
    .section-title, .sub-section-title {
        text-align: center;
        line-height: 5px;
        gap: 8px;
        margin-bottom: 32px;
        font-weight: var(--middle-font-weight);
    }
 /* body-title*/
     .body-title {
        text-align: center;
        margin: 60px 208px 70px 208px;  
        font-weight: var(--middle-font-weight);
    }
    .highlight {
        color: #1EAFDE;
    }
    /* web soultions */
    .service-title {
        font-size: 16px;
        text-align: center;
        font-weight: var(--middle-font-weight);
    }
    .service-description {
        font-size: 12px;
        text-align: justify;
    }

    .services-list {
        display: flex;
        margin-left: 208px;
        margin-right: 208px;
        margin-top: 32px;
        margin-bottom: 50px;
        gap: 32px; 
        list-style: none;   
        top: 95px;
    }
    .services-list li {
        width: 232px;
        height: 247px;
        gap: 16px;
    }
    
    .service-item {
        width: 23%; 
        text-align: center; 
    }

    .section-title {
        font-size: 32px;
    }

    .sub-section-title {
        font-size: 13px;
    }

    /* latest work */

    .latest-work-container {
        display: flex;
        margin-left: 208px;
        margin-right: 208px;
        gap: 32px;
        position: relative;
        margin-top: 32px;
        margin-bottom: 50px;
    }

    
    .latest-work-image {
        width: 320px;
        height: 256px;
    }

    .work-date-container {
        background-color: #d8605f;
        text-align: center;
        width: 56px;
        height: 34.28px;
        line-height: 18.38px;
        color: #f0f0f0;
        position: absolute;
        top: 0%;
    }
    .date {
        font-weight: var(--middle-font-weight);
        font-size: 16px;
        margin: 0;
        padding-top: 4px;
        padding-bottom: 0;
        height: 12px;
    }

    .month-year {
        font-weight: var(--middle-font-weight);
        font-size: 8px;
        margin: 0;

    }


    .work-details-container {
        background-color: #19b2de;
        position: absolute;
        bottom: 0%;
        width: 320px;
        height: 48px;
        color: #f0f0f0;
        text-align: justify;
        
    }

    .work-title {
        font-weight: var(--middle-font-weight);
        font-size: 16px;
        margin: 0;
        margin-top: 4px;
        margin-left: 15px;
        height: 16px;
    }

    .work-category {
        font-weight: var(--middle-font-weight);
        font-size: 11px;
        margin-top: 5px;
        margin-left: 15px;
    }

    /* gallery */
    .work-item img {
        width: 320px;
        height: 256px;
    }

    .work-item-container {
        margin-right: 208px;
        margin-left: 208px;
        margin-bottom: 50px;
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(3,320px);  
        grid-template-rows: repeat(2, 256px); 
    }
    /* clients */
    .client-list {
        display: flex;
        margin-left: 208px;
        margin-right: 208px;
        margin-top: 32px;
        margin-bottom: 50px;
        width: 1024px;
        top: 95px;
        gap: 32.25px;
    }
    .clients {
        display: flex;
        justify-content: center;
        width: 179px;
        height: 128px;
        background: #F3F3F3;
        align-items: center;
        gap: 10px;        
    }
    .kiritaLogo {
        width: 147px;
        height: 49px;
    }
    .inkscapeLogo {
        width: 113px;
        height: 160px;
    }
    .godotLogo {
        width: 158px;
        height: 64px;
    }
  .blenderLogo {
    width: 159px;
    height: 42.7px;
  }
  .penpotLogo {
    width: 143px;
    height: 44px;
  }
/* tablet screen */
@media screen and (max-width: 632px) {
    .body-title {
        text-align: center;
        margin-left: 16px;
        margin-right: 16px;
    }
    /* websolutions */
    .services-list {
        display: grid;
        grid-template-columns: 2fr 2fr;
        list-style: none; 
        margin-left: 16px;
        margin-right: 16px;
        padding:0px;
        border: 0px;
        gap: 16px;
      }
      
      .service-item {
        margin: 0; 
        width: fit-content;
      }
      .service-title, .service-description {
        text-align: center;
      }

      .service-description {
        text-align: justify;
      }
    /* latest news */
    .latest-work-gallery {
        width: 100%;
        margin-left: 16px;
        margin-right: 16px;
    }
    .latest-work-main {
        grid-template-columns: 1fr;
        width: 600px;
        height: 367px;
        margin-left: 16px;
        margin-right: 16px;
        padding: 0px;
    }

    /* work-gallery */
    .work-gallery {
        display: grid;
        grid-template-columns: 2fr 3fr;
        list-style: none; 
        margin-left: 16px;
        margin-right: 16px;
        padding:0px;
        border: 0px;
        gap: 16px;
    }
    /* client */
    .client-list {
        display: grid;
        grid-template-columns: repeat(3,190px);  
        margin-left: 16px;
        margin-right: 16px;
        padding: 0px;
        border: 0px;
        width: 600px;
    }
    .clients {
        width: 190px;
        height: 128px;
        align-items: center;
        gap: 10px;    
        border: 0px;
        padding: 0px;
    
    }
}
/* mobile */
@media screen and (max-width: 432px) {
    .body-title {
        text-align: center;
        margin-left: 16px;
        margin-right: 32px;
    }
    .services-list {
        display: grid;
        grid-template-columns: 1fr ; 
        gap: 16px; 
        width: 100%; 
    }
    .service-title {
        margin: 0%;
    }
    .service-description {
        margin: 0%;
    }
    .service-item {
        width: fit-content;
        margin: 0;
        padding: 0%;
    }
    .services-list svg {
        float: left;
    }
    /* latest-works */
    .latest-work-gallery {
        display: flex;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        list-style: none;
        padding:0px;
        border: 0px;
    }
    .work-date {
        background-color: #d8605f;
        text-align: center;
        max-width: 56px;
        max-height: 34.28px;
        line-height: 18.38px;
        color: #f0f0f0;
        position: absolute;
        top: 0%;
    }

    .work-gallery {
        display: flex;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        list-style: none;
        padding:0px;
        border: 0px;
    }

    /* client */
   .past-clients {
        display: none;
   }

}